<!DOCTYPE html>
<html>
    <head>
        
        {% block head %}
          <title>Launchstore</title>
        {% endblock %}

        {% include 'parts/styles.njk'%}
    </head>
    <body>
        {% include 'parts/message.njk'%}

        {% include 'parts/header.njk'%}

        {% block content%} {% endblock content %}
        
        {% include 'parts/footer.njk'%}
    </body>
</html>